[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/chainlink-brownie-contracts"]
	path = contracts/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "contracts/lib/morpho-blue"]
	path = contracts/lib/morpho-blue
	url = https://github.com/morpho-org/morpho-blue
[submodule "contracts/lib/metamorpho-v1.1"]
	path = contracts/lib/metamorpho-v1.1
	url = https://github.com/morpho-org/metamorpho-v1.1
